@import "@/styles/variables.scss";

@font-face {
  font-family: "Inter Regular";
  src: url("/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

// .content {

.wrapper {
  width: 700px;
  height: 900px;
  background: #010c18ea;
  padding: 0;
  font-family: $font-inter;
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    input,
    textarea,
    label {
      margin: 0 auto;
      width: min(500px, 95%);
    }
    input {
      height: 70px;
    }
    label {
      margin-bottom: 0.5rem;
      margin-top: 1.5rem;
      font-size: 24px;
    }

    .input,
    .textarea {
      &::placeholder,
      &::-webkit-input-placeholder,
      &::-moz-placeholder,
      &:-moz-placeholder,
      &::-ms-input-placeholder {
        padding-left: 1rem;
        font-family: $font-inter;
      }
      font-family: $font-inter;
      background-color: #ffffef;
      border: none;
      color: #000;
      font-size: 20px;
      padding: 0.5rem;
    }

    .textarea {
      resize: none;
      height: 230px;
    }

    .button {
      margin: 0 auto;
      width: min(500px, 95%);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 36px;
      button {
        padding: 15px 0;
        width: 100%;
        background-color: rgb(221, 217, 0);
        font-size: 40px;
        color: #000;
        font-weight: 600;
        border: none;
        :hover {
          cursor: pointer;
        }
      }
    }
  }
}
// }
