@import "@/styles/variables.scss";

.noMessages {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #333333;
  font-weight: 500;
  text-align: center;
  line-height: 1.5;
  p {
    &:nth-of-type(1) {
      font-weight: 700;
    }
    &:nth-of-type(4) {
      align-self: flex-end;
      justify-self: flex-end;
      background-color: $secondary-accent-color;
      padding: 12px;
      border-radius: 24px;
      color: #333333;
    }
  }

  .questionsContainer {
    display: flex;
    margin-top: auto;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: #ffffff;
    color: #333333(0, 0, 0);
    padding: 0.5rem 1.5rem;

    .question {
      cursor: pointer;
      margin: 0.75rem 0;
      // background-color: #a90ff6;
      border: solid 1px #333;
      padding: 0.25rem 0.5rem;
      border-radius: 0.5rem;
    }
  }
}
