.container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #070106;
  color: #f1e5ef;
  input {
    border-radius: 5px;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 500;
    color: #070106;
    background-color: #f1e5ef;
    &:focus {
      outline: none;
    }
  }

  .result {
    color: #070106;
    background-color: #f1e5ef;
    border-radius: 5px;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    min-width: 400px;
    min-height: 300px;
    font-size: 1.5rem;
    font-weight: 500;
    &:focus {
      outline: none;
    }
  }
  .embedding {
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    font-size: 1.5rem;
    font-weight: 500;
  }
}
