@import "@/styles/variables.scss";

.textarea {
  margin: 48px 0px 48px 0px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  gap: 42px 20px;
  overflow: auto;
  //   background-color: #72726a;
  .messageWrapper {
    .message {
      padding: 16px;
      display: flex;
      line-height: 1.7;
    }
  }
  .avatar {
    align-self: flex-end;
    background-color: rgb(219, 219, 215);
    padding: 8px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: -26px;
  }
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .noMessages {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: #051a2b;
    font-weight: 500;
    text-align: center;
    line-height: 1.5;
    p {
      &:nth-of-type(1) {
        font-weight: 700;
      }
      &:nth-of-type(4) {
        align-self: flex-end;
        justify-self: flex-end;
        background-color: $secondary-accent-color;
        padding: 12px;
        border-radius: 24px;
        color: #051a2b;
      }
    }
  }
}
