.input {
  font-family: "Inter";

  border: none;
  background-image: none;
  background-color: transparent;
  color: transparent;
  caret-color: #545455;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-weight: 400;
  caret-color: transparent;
  outline: 0;
}
