@import "@/styles/variables.scss";

.container {
  position: absolute;
  width: 200px;
  height: 400px;
  //   left: -145px;
  //   left: 0;
  background: $tertiary-glow;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: $font-inter;
  z-index: 1;
}

.projectsMenu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  h2 {
    margin-top: 2rem;
    color: #080c36c4;
    padding-bottom: 5px;
    border-bottom: 1px solid #080c36c4;
  }
}

.projectPrev {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
